@import "assets/vars";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  cursor: pointer;
  padding: 7px 22px;
  
  width: fit-content;
  min-width: 144px;
  height: 37px;
  
  overflow: hidden;
  
  border: var(--border);
  
  transition: .4s;

  background: var(--background_default);

  &--disabled {
    color: whitesmoke;

  }
  
  &:hover {
    transform: scale(1.05);
    
  }

}
