:root {
  --first: #3482E7;
  --second: #e7b134;
  --third: #f65164;
  --default: #a4a6b1;
  
  --ok: #71ab5a;
  --warning: #cec655;
  --error: #c56459;

  --text_color: #131313;
  --second_text_color: #686868;
  
  --hover: #f4f4f442;
  --border: 1px solid #d1cece;
  
  --background_first: #222223;
  --background_second: #fdfdfd;
  --background_third: #e6e3e3;

  --background_default: white;

  --inside-shadow: 0px 0px 70px inset #1d1b1bbb;

}

.light {

  --text_color: #131313;
  --second_text_color: #fffefedb;
  
  --hover: #e3e5e928;
  --border: 1px solid #afafaf;
  
  --background_first: #e8eaef;
  --background_second: #c5c0c0;
  --background_third: #e6e3e3;
  
}

.dark {
  
  --text_color: #f8f8f8;
  --second_text_color: #323030db;
  
  --hover: #3030303c;
  --border: 1px solid #e1e1e1;
  
  --background_first: #313237;
  --background_second: #313131;
  --background_third: #3d3d40;

}

/* 

YOU CAN ADD THE THEME YOU WANT HERE.. I AM WORKING ON THE HOOK TO CHOOSE IT

Example:

.bluest {
  
  --text_color: #f8f8f8;
  --second_text_color: #272727;
  
  --background_first: #4153ad;
  --background_select_color: #263974;
  --background_second: #1d2441;

} 

*/
